@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font-family: var(--main-font);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transition:
		color 0.5s ease-in-out,
		background-color 0.5s ease-in-out,
		fill 0.5s ease-in-out;
}

html {
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
	overflow-y: scroll;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--background-one);
}

html,
body {
	max-width: 100%;
}

.wrapper {
	margin-inline: auto;
	width: min(90%, 80rem);
	margin-top: 7rem;
}

:root {
	--main-font: 'Manrope', sans-serif;
	--mono-font: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;

	--text-one: hsl(calc(var(--hue, 206) + 0), 100%, 94%);
	--surface-one: hsl(calc(var(--hue, 206) + 0), 100%, 94%);

	--primary: hsl(calc(var(--hue, 206) + 0), 100%, 81%);

	--secondary: hsl(calc(var(--hue, 206) + 2), 75%, 82%);

	--tertiary: hsla(calc(var(--hue, 206) - 1), 91%, 69%, 0.15);

	--background-one: hsl(calc(var(--hue, 206) + 46), 10%, 11%);
	--surface-two: hsl(calc(var(--hue, 206) + 46), 10%, 11%);

	--surface-three: hsl(calc(var(--hue, 206) + 4), 14%, 17%);

	--surface-four: hsl(calc(var(--hue, 206) + 6), 19%, 19%);
	--text-two: hsl(calc(var(--hue, 206) + 6), 19%, 19%);

	--border: hsl(calc(var(--hue, 206) + 15), 17%, 26%);
	--surface-five: hsl(calc(var(--hue, 206) + 15), 17%, 26%);

	--text-three: hsl(calc(var(--hue, 206) + 20), 48%, 18%);

	--text-four: hsl(calc(var(--hue, 206) + 2), 30%, 75%);
	--surface-six: hsl(calc(var(--hue, 206) + 2), 30%, 75%);

	--surface-seven: hsl(calc(var(--hue, 206) + 24), 9%, 13%);

	--surface-eight: hsl(calc(var(--hue, 206) + 34), 9%, 13.5%);

	--surface-nine: hsl(calc(var(--hue, 206) + 24), 9.5%, 17.5%);

	--red-one: hsl(333, 84%, 62%);

	--bezier-one: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	--drop-shadow-one: 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12),
		0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}

::selection {
	background-color: var(--tertiary);
}

/*-----headings-----*/

h1 {
	color: var(--text-one);
	line-height: 4rem;
	font-size: 3.5rem;
	font-weight: 700;
	letter-spacing: -0.025em;
}

h2 {
	color: var(--text-four);
	font-size: 2.5rem;
	letter-spacing: -0.04rem;
	font-weight: 600;
}

h3 {
	font-size: 1.25rem;
	color: var(--secondary);
	font-weight: 600;
}

h4 {
	color: var(--secondary);
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 0.02rem;
	line-height: 2rem;
}

h5 {
	color: var(--text-four);
	font-weight: 400;
	font-size: 0.9rem;
	letter-spacing: 0.02rem;
}

h6 {
	color: var(--text-four);
	font-weight: 500;
	font-size: 0.85rem;
}

p {
	color: var(--text-four);
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 0.02rem;
	line-height: 1.75rem;
}

@media screen and (max-width: 767px) {
	h1 {
		font-size: 2.6rem;
		line-height: 3.75rem;
	}

	h2 {
		font-size: 2rem;
	}
}

/*---------------*/

::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	background-clip: content-box;
	border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--surface-five);
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid var(--border);
}

input {
	padding: 1rem;
	border-radius: 12px;
	border: 1px solid var(--border);
	background-color: transparent;
	color: var(--secondary);
}

input:focus {
	outline: 1px solid var(--primary);
}
