@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

html,
body {
    max-width: 100%;
}

.wrapper {
    margin-inline: auto;
    width: min(90%, 100rem);
    margin-top: 7rem;
}

:root {
    --white: #fff;
    --accent-color: #9fd5ff;
    --accent-color-two: hsl(207, 65%, 90%);
    --bg-color: hsl(240, 2%, 11%);
    --grey-one: #252b31;
    --grey-two: #28313b;
    --grey-three: #373e4d;
    --grey-four: #182244;
    --grey-five: hsl(208, 30%, 75%);
    --grey-six: #202126;
    --grey-seven: #18191D;
    --bezier-one: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

::selection {
    background: var(--grey-six);
}

/*-----headings-----*/

h1 {
    color: var(--white);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 700;
    letter-spacing: -0.04em;
}

h2 {
    color: var(--grey-five);
    font-weight: 400;
    font-size: 1.3rem;
}

h3 {
    color: var(--white);
    font-weight: 500;
    font-size: 1rem;
}

h4 {
    color: var(--white);
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: 0.02rem;
}

h5 {
    color: var(--accent-color-two);
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.02rem;
}

h6 {
    color: var(--grey-five);
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.02rem;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    background-clip: content-box;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--grey-three);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--grey-three);
}
