@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font-family: var(--main-font);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
	overflow-y: scroll;
}

body {
	margin: 0;
	min-height: 100dvh;
	height: 100%;
	padding-top: 70px;
	position: relative;
	background-color: var(--bg-color);
}

html,
body {
	max-width: 100%;
}

.wrapper {
	margin-inline: auto;
	width: min(90%, 80rem);
	margin-top: 2.5rem;
}

:root {
	/* TODO properly name these */
	--main-font: 'Manrope', sans-serif;
	--mono-font: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
	--white: hsl(206, 100%, 94%);
	--accent-color: hsl(206, 100%, 81%);
	--accent-color-two: hsl(208, 75%, 82%);
	--accent-low-opacity: hsla(205, 91%, 69%, 0.15);
	--bg-color: hsl(252, 10%, 11%);
	--grey-one: hsl(210, 14%, 17%);
	--grey-two: hsl(212, 19%, 19%);
	--grey-three: hsl(221, 17%, 26%);
	--grey-four: hsl(226, 48%, 18%);
	--grey-five: hsl(208, 30%, 75%);
	--grey-six: hsl(230, 9%, 13%);
	--grey-seven: hsl(240, 9%, 13.5%);
	--grey-eight: hsla(207, 30%, 75%, 0.577);
	--grey-nine: hsla(240, 6%, 7%, 0.3);
	--grey-ten: hsl(230, 9.5%, 17.5%);
	--grey-eleven: hsl(208, 10%, 40%);
	--red-one: hsl(333, 84%, 62%);
	--bezier-one: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	--drop-shadow-one: 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12),
		0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}

::selection {
	background-color: var(--accent-low-opacity);
}

/*-----headings-----*/

h1 {
	color: var(--white);
	line-height: 4rem;
	font-size: 3.5rem;
	font-weight: 700;
	letter-spacing: -0.025em;
}

h2 {
	color: var(--grey-five);
	font-size: 2.5rem;
	letter-spacing: -0.04rem;
	font-weight: 600;
}

h3 {
	font-size: 1.25rem;
	color: var(--accent-color-two);
	font-weight: 600;
}

h4 {
	color: var(--accent-color-two);
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 0.02rem;
	line-height: 2rem;
}

h5 {
	color: var(--grey-five);
	font-weight: 400;
	font-size: 0.9rem;
	letter-spacing: 0.02rem;
}

h6 {
	color: var(--grey-five);
	font-weight: 500;
	font-size: 0.85rem;
}

p {
	color: var(--grey-five);
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 0.02rem;
	line-height: 1.75rem;
}

@media screen and (max-width: 767px) {
	h1 {
		font-size: 2.6rem;
		line-height: 3.75rem;
	}

	h2 {
		font-size: 2rem;
	}
}

/*---------------*/

::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--accent-color);
	background-clip: content-box;
	border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--grey-three);
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid var(--grey-three);
}

input {
	padding: 1rem;
	border-radius: 12px;
	border: 1px solid var(--grey-three);
	background-color: transparent;
	color: var(--accent-color-two);
}

input:focus {
	outline: 1px solid var(--accent-color);
}
